
body{
    font-family: Helvetica;
    font-weight: 100;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
}
.container, .pg_head{
    width:600px;
    margin: auto;
}
.page_header {
    border-bottom: 1px;
    border-color: #edeeee;
    background: white;
    overflow: hidden;
    margin-bottom: 60px; 
    
}

.post{
    border: 1px solid #edeeee;
    background: white;
    margin-bottom: 60px;
    border-radius: 3px;
    
}

.header {
    display: inline-flex;
    padding: 0px 14px;
    width: 95%;
}
.date{
    text-align: right;
    width: 100%;
    

}
h2 {
    font-size: 18px;
    width: 40%;
}
.post.date {
    width:50%;
    float: left;
    
}
.date {
    text-align: right;
    color: #a5a7aa;
}

img {
    max-width: 598px;
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
    background-position: center;
}

.caption {
    padding: 0px 24px;
}
.image{
    text-align: center;
    
}